<h1><%= @group.name %></h1>
<br>
<br> #page will need to be stylized
<br>
<h3>Group Details:</h3>
<p><%= @group.about %></p>
 
<br>
<br>
<br>
 
<h5>Group Participants</h5>
<% @group.users.each do |user| %>
 <ul><%= user.name %></ul>
<% end %>