<div class="row">
  <div class="col">
    <h1>Group name: <%= @group.name %></h1>
    <h3>About this group:</h3>
    <p><%= @group.about %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <table>
      <tr>
        <th>
          <td>Group Participants:</td>
          <td><%= @group.user_count %></td>
        </th>
      </tr>
      <% @group.users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
