<div class="container">
  <div class="row">
    <div class="col">
      <h1>Group name: <%= @group.name %></h1>
      <h3>About this group:</h3>
      <p><%= @group.about %></p>
    </div>
  </div>
</div>
