

  <%# <% @users.groups.each do |group| %>
       <%# <ul> <%= group.name%> </ul> %>
  <%# <% end %> %> %>
<p><%= button_to "Create New Group", new_group_path, method: :get %></p>

<div class="row">
  <div class="col border border-1">
    <h1><%= @user.name %>'s dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2><%= @user.name %>'s groups</h2>
  </div>
</div>