<h1 id="app_title"> Kitchen Sync Plus </h1>

<h3> Welcome to Kitchen Sync Plus, an app that allows youur community kitchen... (placeholder) </h3>


<%= link_to "Login"  %>
<%= link_to "Register"  %>
<%= link_to "Log in or Register using Google"  %>
